name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: docker login
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME_ALIYUN }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD_ALIYUN }}
      run: | 
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD registry.cn-beijing.aliyuncs.com
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag yangchengxu/wecloud_train_test_job:latest
    - name: Push the Docker image
      run: docker push registry.cn-beijing.aliyuncs.com/yangchengxu/wecloud_train_test_job:latest
